* {
    margin: 0;
    padding: 0;
}

.head {
    background-image: url("/images/banner/banner2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: 0 0;
    display: flex;
    justify-content: end;
}

.title {
    float: right;
    font-size: 25px;
    font-weight: 700;
    width: 34%;
    font-family: Work Sans;
    color: #151414;
    margin: 150px 120px;
    text-align: end;
}

.title p {
    font-size: 13px;
}

main {
    margin: 84px 120px;
}

.main-section {
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    box-shadow: 10px 10px 0.06px rgb(235, 219, 219);
}

.box img {
    width: 300px;
    height: 360px;
}

.box-description {
    width: 45%;
    margin: 65px auto;
}

ul {
    list-style: none;
    margin: 10px;
}

.plan {
    margin-top: 34px;
    display: flex;
    justify-content: space-around;
}

.plan-banner {
    background-color: antiquewhite;
}

.icon-box {
    margin-top: 34px;
    font-size: 10px;
    padding: 10px;
}

.icon-box h3 {
    color: #151414;
    text-align: center;
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 700;
    margin-top: 12px;
}

.icon-box p {
    color: #737272;
    text-align: center;
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 500;

}

.btn-primary {
    background-color: #F15B22;
    color: white;
    font-size: 18px;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: 0;
    margin-top: 12px;
}

.head-title {

    text-align: center;
    color: #151414;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    margin-top: 64px;
}

#img1 {
    margin-left: 65px;
}

#img3 {
    margin-left: 45px;
}

#img2,
#img4 {
    margin-left: 12px;
}

.watch-style {
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%), url("/images/watch.png");
    border-radius: 8px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    margin-top: 65px;
    align-items: center;

}

.watch-style h3 {
    width: 459px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;

}

#text-description {
    margin-left: 45px;
    padding-top: 85px;
}

#btn-secondary {
    color: orangered;
    font-size: 18px;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: 0;
    margin-top: 12px;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 350px;
}

.footer-title {
    color: #F8F8F8;
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 700;
}

.footer-description {
    color: #FFF;
    width: 485px;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.icon {
    display: flex;
    gap: 23px;
}


form label {
    color: #FFF;
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 600;
}

form input {
    width: 325px;
    height: 34px;
    border-radius: 8px;
    border: 1px solid #FFF;
    margin-top: 12px;
}

#btn-footer{
    color: orangered;
    font-size: 18px;
    width: 160px;
    height: 34px;
    border-radius: 5px;
    border: 0;
    margin-top: 12px;
 }
 
 .text-end, .form-box{
    margin-top: 45px;
 }